<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invited Event Dashboard</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <h1>Invited</h1>
            <button class="header" id="profile">User Profile</button>
            <button class="header" id="create-event">Create Event</button>
        </header>
        <span id="guest-container">
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Bill</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Bob</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Sally</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Jane</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Luke</h2>
            </div>   
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Bill</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Bob</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Sally</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Jane</h2>
            </div>    
            <div class="guest-card">Example
                <img src=""/>
                <h2 class="guest-name">Luke</h2>
            </div>   
        </span>
        <span id="controls">
            <h2 id="list-controls">List Controls</h2>
            <br>
            <ul>
                <li class="guest"><a href="#">Show Invited</a></li>
                <br>
                <li class="guest"><a href="#">Show Maybe</a></li>
                <br>
                <li class="guest"><a href="#">Show Not Invited</a<></li>
                <br>
                <li class="guest"><a href="#">Add New Attendee</a</li>
            </ul>
        </span>
    </body>
</html>